.footer {
    background-color: black;
    
    &__container {
        max-width: 350px;
        height: 235px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        color: white;
        font-family: 'Raleway';
    }
    &__logo {
        width: 140px;
        height: 28px;
        background: url(./../img/logo-white.png) center no-repeat;
        background-size: contain;
        margin-bottom: 20px;
    }
    &__instagram {
        margin-top: 20px;
        display: flex;

        svg {
            width: 14px;
            height: auto;
            fill: white;
            margin-right: 5px;
        }
    }
    &__address {
        padding-bottom: 2px;
    }
}
.up-button {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 2vh;
    z-index: 8;
    width: 100px;
    height: 29px;
    line-height: 30px;
}
@media (max-width: $tablet) {
    .footer { 
        &__container {
            font-size: 11px;
            height: 220px;
        }
    }
}