body {
    color: $gray;
    font-family: 'HelveticaNeue';
    font-size: 14px;   
}
.body {
    &--static {
        overflow: hidden;
    }
}

body *{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

a {
    color: inherit;
}

p {
    font-family: "Myriad";
}

h1 {
    font-size: 20px;
    letter-spacing: 2px;
    color: $black;
    text-transform: uppercase;
    font-family: "HelveticaNeue";
    font-weight: bold;
    text-align: center;
}

.base-button {
    width: 224px;
    display: block;
    height: 39px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px solid $dark-gray;
    line-height: 39px;
    cursor: pointer;
    text-transform: uppercase;
    transition-duration: 0.3s;

    &.white {
        color: $dark-gray;

        &:hover {
            background-color: $dark-gray;
            color: white;
        }
    }
    &.black {
        color: white;
        background-color: $dark-gray;

        &:hover {
            background-color: white;
            color: $dark-gray;
        }
    }
}


.container {
    margin: 0 auto;
    max-width: 1050px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}


@media (max-width: $laptop) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: $tablet) {
    h1 {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .base-button {
        font-size: 12px;
        line-height: 40px;
    }
}