$wrapL: 1600px;
$wrap: 1360px;
$desktop: 1200px;
$laptopLg: 1100px;
$hdr: 1030px;
$laptop: 1100px;
$laptopXs: 860px;
$tablet: 765px;
$mobileLg: 600px;
$mobileL: 560px;
$mobile: 480px;
$mobileXs: 400px;


$black: #101010;
$dark-gray: #252525;
$gray: #616161;;
$light-gray: #7b7b7b;
$white: #f4f4f4;
