extends ../layout/base

block variables
    - pageTitle = 'Dessange' 
    - activePage = 'about-page'
    - header = true
    - footer = true
block content
    section.about-slider
        .about-slider__image(style='background-image: url(static/img/about-slider.jpg);')
    section.about-text
        .about-text__container.container
            .about__title О Нас
            .about__slogan We help people find the 
            .about__slogan perfect product at the right price. 
            .about__divider
            p.about__text Started up in 1991 with a clear international mission and with the intention of dressing young people who are engaged with their environment, who live in the community and relate to each other.
            p.about__text Presently a breeze sprang up; Stubb feigned to cast off from the whale; hoisting his boats, the Frenchman soon increased his distance, while the Pequod slid in between him and Stubb’s whale. Whereupon Stubb quickly pulled to the floating body, and hailing the Pequod to give notice.
    section.about-director
        .about-director__container.container
            .about-director__image
                .about-director__picture
            .about-director__block
                .about-director__title Мурат  Абдула
                p.about-director__text В салоне красоты  работает с 2000 года. <br>Внимательный и индивидуальный подход к каждому клиенту.<br> Исполняет стрижки с учетом пожеланий клиента и модных тенденций, от элегантной классики до «экстремального» креатива. Любые техники окрашивания волос, программы по уходу, восстановлению и лечению волос. Постоянное повышение квалификации, участие в семинарах по н
                p.about-director__text Внимательный и индивидуальный подход к каждому клиенту. Исполняет стрижки с учетом пожеланий клиента и модных тенденций, от элегантной классики до «экстремального» креатива. Любые техники окрашивания волос, программы по уходу, восстановлению и лечению волос. Постоянное повышение квалификации, участие в семинарах от элегантной классики до «экстремального» креатива. Любые техники окрашивания волос, программы по уходу, восстановлению и лечению волос. Постоянное повышение квалификации, участие в семинарах 
    section.about-images
        .about-images__container.container
            .about-images__image
                .about-images__picture(style='background: url(static/img/about-image-1.jpg) center no-repeat;')
            .about-images__image
                .about-images__picture(style='background: url(static/img/about-image-2.jpg) center no-repeat;')
            .about-images__image
                .about-images__picture(style='background: url(static/img/about-image-3.jpg) center no-repeat;')
    section.about-contacts
        h1.about-contacts__title Контакты
        .about-contacts__container.container
            ul.about-contacts__address
                li 79 - 81 Berkeley Square
                li London
                li WC923 9TT
            ul.about-contacts__phones
                li.about-contacts__phone #[a(href='tel:+44(0)2345678910') +44 (0) 234 567 8910] 
                li.about-contacts__phone #[a(href='tel:+44(0)2345678910') +44 (0) 234 567 8910] 
            ul.about-contacts__emails
                li.about-contacts__email hello@mitalent.com
                li.about-contacts__instagram hello@mitalent.com
    section.about-map
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa144c9ac169edcd8ebb0701e2e2d07e84d0f10e892d8a0e56389d663f64dbce1&amp;lang=ru_RU&amp;scroll=true")