extends ../layout/base

block variables
    - pageTitle = 'Dessange' 
    - activePage = 'main'
block content
    section.slider
    section.about
        .about__container.container
            .about__title О Нас
            .about__slogan We help people find the 
            .about__slogan perfect product at the right price. 
            .about__divider
            p.about__text We help people find the perfect product at the right price. 
            p.about__text Our extensive selection and superior customer service coupled with the convenience of online shopping, make it easier than ever before to find exactly what you want for your home at a price you can afford.
            p.about__text We help people find the perfect product 
            a.about__more Подробнее
    section.products
        .products__container.container
            h1.products__title наша продукция
            p.products__text We help people find the perfect product at the right price.
            .products__list
                .products__slider
                    .product
                        .product__image
                            .product__picture
                        p.product__title Ruffled dress1 
                        p.product__feature Pink
                    .product
                        .product__image
                            .product__picture
                        p.product__title Oversized Sweatshirt In  2
                        p.product__feature Pink
                    .product
                        .product__image
                            .product__picture
                        p.product__title Slim-fit medium wash 3
                        p.product__feature Tim jeans
                    .product
                        .product__image
                            .product__picture
                        p.product__title Sleeveless T-Shirt With 4
                        p.product__feature Dropped Armhole
                    .product
                        .product__image
                            .product__picture
                        p.product__title Ruffled dress 5
                        p.product__feature Pink
                    .product
                        .product__image
                            .product__picture
                        p.product__title Oversized Sweatshirt In  6
                        p.product__feature Pink
                    .product
                        .product__image
                            .product__picture
                        p.product__title Slim-fit medium wash 7
                        p.product__feature Tim jeans
                    .product
                        .product__image
                            .product__picture
                        p.product__title Sleeveless T-Shirt With 8
                        p.product__feature Dropped Armhole
                .products__pages
                    p.product__current A
                    p.product__current B
                    p.product__current C
                    p.product__current D
                    p.product__current E
                    p.product__current F
                    p.product__current G
                    p.product__current H
            a.products__more Перейти в каталог 
    section.services
        .services__container.container
            h1.services__title Наши услуги
            p.services__text We help people find the perfect product at the right price.
            ul.services__list
                li.services__item
                    a(href="#").service__title Укладка
                    p.service__text We help people find the perfect product at the right price.
                li.services__item
                    a(href="#").service__title Лечение волос
                    p.service__text We help people find the perfect product at the right price.
                li.services__item
                    a(href="#").service__title Визаж
                    p.service__text We help people find the perfect product at the right price.
                li.services__item
                    a(href="#").service__title Стрижка
                    p.service__text We help people find the perfect product at the right price.
                li.services__item
                    a(href="#").service__title Окрашивание
                    p.service__text We help people find the perfect product at the right price.
                li.services__item
                    a(href="#").service__title Депиляция
                    p.service__text We help people find the perfect product at the right price.
    section.instagram