extends ../layout/base

block variables
    - pageTitle = 'Dessange' 
    - activePage = 'main-page'
block content
    section.slider
        .slider__container.container
            .slider__block
                .slider__block--inside
                    .slider__slides
                        .slider__image(style='background: url(static/img/slide-1.jpg) center 10% no-repeat;')
                        .slider__image(style='background: url(static/img/slide-1.jpg) center 30% no-repeat;')
                        .slider__image(style='background: url(static/img/slide-1.jpg) center 50% no-repeat;')
                        .slider__image(style='background: url(static/img/slide-1.jpg) center 70% no-repeat;')
                .slider__effect
        a(target="_blank" href='n155177.yclients.com').slider__sign-up Записаться
        .slider__navigation
            .slider__current 01
            .slider__scale 
                .slider__scale--before
            .slider__all 00
    section.about
        .about__container.container
            .about__title О Нас
            .about__slogan We help people find the 
            .about__slogan perfect product at the right price. 
            .about__divider
            p.about__text We help people find the perfect product at the right price.<br> Our extensive selection and superior customer service coupled with the convenience of online shopping, make it easier than ever before to find exactly what you want for your home at a price you can afford.<br> We help people find the perfect product 
            a(href="about.html").about__more Подробнее
    section.products-main
        .products-main__container.container
            h1.products-main__title наша продукция
            p.products-main__text We help people find the perfect product at the right price.
            .products-main__list
                .products-main__slide
                    .products-main__block
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-1.png) center no-repeat;')
                            p.product__title Ruffled dress
                            p.product__feature Pink
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-2.png) 60% 65% no-repeat;')
                            p.product__title Oversized Sweatshirt In
                            p.product__feature Pink
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-3.png) center no-repeat;')
                            p.product__title Slim-fit medium wash
                            p.product__feature Tim jeans
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-4.png) center 65% no-repeat;')
                            p.product__title Sleeveless T-Shirt With
                            p.product__feature Dropped Armhole
                .products-main__slide
                    .products-main__block
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-1.png) center no-repeat;')
                            p.product__title Ruffled dress 5
                            p.product__feature Pink
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-2.png) 60% 65% no-repeat;')
                            p.product__title Oversized Sweatshirt In  6
                            p.product__feature Pink
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-3.png) center no-repeat;')
                            p.product__title Slim-fit medium wash 7
                            p.product__feature Tim jeans
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-4.png) center 65% no-repeat;')
                            p.product__title Sleeveless T-Shirt With 8
                            p.product__feature Dropped Armhole
                .products-main__slide
                    .products-main__block
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-1.png) center no-repeat;')
                            p.product__title Sleeveless T-Shirt With 9
                            p.product__feature Dropped Armhole
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-2.png) 60% 65% no-repeat;')
                            p.product__title Ruffled dress 10
                            p.product__feature Pink
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-3.png) center no-repeat;')
                            p.product__title Oversized Sweatshirt In  11
                            p.product__feature Pink
                        a(href="products.html").product
                            .product__image
                                .product__picture(style='background: url(static/img/product-4.png) center 65% no-repeat;')
                            p.product__title Slim-fit medium wash 12
                            p.product__feature Tim jeans
            .products-main__navigation
                .products-main__nav
                    .products-main__nav--number 01
                .products-main__nav
                    .products-main__nav--number 02
                .products-main__nav
                    .products-main__nav--number 03
            a(target="_blank" href="products.html").products-main__more Перейти в каталог 
    section.services-main
        .services-main__container.container
            h1.services-main__title Наши услуги
            p.services-main__text We help people find the perfect product at the right price.
            ul.services-main__list
                li.services-main__item
                    a(href="#").service-main__title Укладка
                    p.service-main__text We help people find the perfect product at the right price.
                li.services-main__item
                    a(href="#").service-main__title Лечение волос
                    p.service-main__text We help people find the perfect product at the right price.
                li.services-main__item
                    a(href="#").service-main__title Визаж
                    p.service-main__text We help people find the perfect product at the right price.
                li.services-main__item
                    a(href="#").service-main__title Стрижка
                    p.service-main__text We help people find the perfect product at the right price.
                li.services-main__item
                    a(href="#").service-main__title Окрашивание
                    p.service-main__text We help people find the perfect product at the right price.
                li.services-main__item
                    a(href="#").service-main__title Депиляция
                    p.service-main__text We help people find the perfect product at the right price.
    section.instagram
        .instagram__container.container
            .instagram__buttons
                a.instagram__buttom.base-button.white Все Услуги
                a(target="_blank" href='n155177.yclients.com').instagram__buttom.base-button.black Записаться
            h1.instagram__title Instagram
            .instagram__list
                .instagram__slide
                    .instagram__block
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-1.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-2.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-3.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-4.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-5.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-6.jpg) center no-repeat;')
                .instagram__slide
                    .instagram__block
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-1.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-2.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-3.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-4.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-5.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-6.jpg) center no-repeat;')
                .instagram__slide
                    .instagram__block
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-1.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-2.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-3.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-4.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-5.jpg) center no-repeat;')
                        .insta
                            a.insta__image
                                .insta__picture(style='background: url(static/img/instagram-6.jpg) center no-repeat;')
            .instagram__navigation
                .instagram__nav
                    .instagram__nav--number 01
                .instagram__nav
                    .instagram__nav--number 02
                .instagram__nav
                    .instagram__nav--number 03
            a(target="_blank" href="https://www.instagram.com/dessange_astana").instagram__more Перейти в инстаграм