.header {
    z-index: 15;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;

    .page-active {
        transform: scale(1.02);
        color: $black;
        border-bottom: 1px solid $black;

        svg {
            fill: $black;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 110px;
        width: 100%;
        transition-duration: 0.3s;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 1px;
            width: 34%;

            li {
                a {
                    transition-duration: 0.2s;
                    &:hover {
                        transform: scale(1.02);
                        color: $black;
                        border-bottom: 1px solid $black;

                        svg {
                            fill: $black;
                        }
                    }
                    padding: 5px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 12px;
                        height: auto;
                        fill: $gray;
                    }
                }
            }
        }
    }
    &__logo {
        width: 180px;
        height: 36px;
        background: url(./../img/logo-black.png) center no-repeat;
        background-size: contain;

        &--pre {
            display: none;
        }
    }
    &__dropdown {
        display: none;
    }
    &__mobile {
        display: none;
    }
}

@media (max-width: $tablet) {
    .header {
        &__block {
            height: 70px;
    
            ul {
                display: none;
    
                a {
                    padding: 5px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        &__logo {
            width: 120px;
            height: 24px;

            &--pre {
                display: block;
                width: 1px;
            }
        }
        &__dropdown {
            display: block;
            width: 16px;
            height: 16px;
            padding: 5px;
            background: url(./../img/dropdown.png) center no-repeat;
            cursor: pointer;
        }
        &__mobile {
            z-index: 15;
            background-color: #ffffff;
            position: fixed;
            top: 70px;
            width: 100%;
            height: calc(100vh - 70px);

            .mobile {
                &__list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &__item {

                    &:nth-last-child(1) {
                        .mobile__link {
                            text-transform: none;
                        }
                    }  
                }
                &__link {
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    line-height: 32px;
                    justify-content: center;
                    padding: 0 5px;
                    // width: 100%;
                    margin: 40px auto 20px;
                    display: flex;
                                      
                    svg {
                        width: 14px;
                        height: auto;
                        fill: $gray;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}